BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG JTAG_PORT=DISABLE CONFIGURATION=CFG SHAREDEBRINIT=DISABLE MUX_CONFIGURATION_PORTS=ENABLE COMPRESS_CONFIG=ON ;
LOCATE COMP "CTRL_DATA" SITE "A6" ;
LOCATE COMP "CTRL_CLK" SITE "B8" ;
LOCATE COMP "MONTIMINGOUT_P" SITE "B9" ;
LOCATE COMP "MONTIMING_P[0]" SITE "T15" ;
LOCATE COMP "MONTIMING_P[1]" SITE "R13" ;
LOCATE COMP "MONTIMING_P[2]" SITE "R12" ;
LOCATE COMP "MONTIMING_P[3]" SITE "M10" ;
LOCATE COMP "MONTIMING_P[4]" SITE "R11" ;
LOCATE COMP "MONTIMING_P[5]" SITE "T11" ;
LOCATE COMP "MONTIMING_P[6]" SITE "P10" ;
LOCATE COMP "MONTIMING_P[7]" SITE "M8" ;
LOCATE COMP "MONTIMING_P[8]" SITE "N10" ;
LOCATE COMP "MONTIMING_P[9]" SITE "M6" ;
LOCATE COMP "MONTIMING_P[10]" SITE "M7" ;
LOCATE COMP "MONTIMING_P[11]" SITE "R5" ;
IOBUF PORT "SRCLK_P[0]" IO_TYPE=LVDS25E ;
IOBUF PORT "SRCLK_P[1]" IO_TYPE=LVDS25E ;
IOBUF PORT "SRCLK_P[2]" IO_TYPE=LVDS25E ;
IOBUF PORT "SRCLK_P[3]" IO_TYPE=LVDS25E ;
IOBUF PORT "SRCLK_P[4]" IO_TYPE=LVDS25E ;
IOBUF PORT "SRCLK_P[5]" IO_TYPE=LVDS25E ;
IOBUF PORT "SRCLK_P[6]" IO_TYPE=LVDS25E ;
IOBUF PORT "SRCLK_P[7]" IO_TYPE=LVDS25E ;
IOBUF PORT "SRCLK_P[8]" IO_TYPE=LVDS25E ;
IOBUF PORT "SRCLK_P[9]" IO_TYPE=LVDS25E ;
IOBUF PORT "SRCLK_P[10]" IO_TYPE=LVDS25E ;
IOBUF PORT "SRCLK_P[11]" IO_TYPE=LVDS25E ;
LOCATE COMP "SRCLK_P[1]" SITE "C16" ;
LOCATE COMP "SRCLK_P[0]" SITE "B13" ;
LOCATE COMP "SRCLK_P[2]" SITE "G16" ;
LOCATE COMP "SRCLK_P[3]" SITE "L15" ;
LOCATE COMP "SRCLK_P[4]" SITE "P15" ;
LOCATE COMP "SRCLK_P[5]" SITE "R9" ;
LOCATE COMP "SRCLK_P[6]" SITE "T2" ;
LOCATE COMP "SRCLK_P[7]" SITE "R1" ;
LOCATE COMP "SRCLK_P[8]" SITE "L2" ;
LOCATE COMP "SRCLK_P[9]" SITE "H3" ;
LOCATE COMP "SRCLK_P[10]" SITE "D3" ;
LOCATE COMP "SRCLK_P[11]" SITE "A5" ;
LOCATE COMP "SRCLKIN" SITE "D10" ;
LOCATE COMP "SS_INCRIN" SITE "C6" ;
LOCATE COMP "RAMPIN" SITE "C13" ;
LOCATE COMP "RAMP[0]" SITE "C12" ;
LOCATE COMP "RAMP[1]" SITE "D16" ;
LOCATE COMP "RAMP[2]" SITE "G12" ;
LOCATE COMP "RAMP[3]" SITE "G15" ;
LOCATE COMP "RAMP[4]" SITE "H12" ;
LOCATE COMP "RAMP[5]" SITE "T9" ;
LOCATE COMP "RAMP[6]" SITE "R4" ;
LOCATE COMP "RAMP[7]" SITE "K6" ;
LOCATE COMP "RAMP[8]" SITE "L1" ;
LOCATE COMP "RAMP[9]" SITE "J3" ;
LOCATE COMP "RAMP[10]" SITE "E3" ;
LOCATE COMP "RAMP[11]" SITE "A4" ;
LOCATE COMP "SCLK[0]" SITE "A12" ;
LOCATE COMP "SCLK[1]" SITE "G11" ;
LOCATE COMP "SCLK[2]" SITE "F14" ;
LOCATE COMP "SCLK[3]" SITE "G14" ;
LOCATE COMP "SCLK[4]" SITE "H14" ;
LOCATE COMP "SCLK[5]" SITE "T13" ;
LOCATE COMP "SCLK[6]" SITE "T7" ;
LOCATE COMP "SCLK[7]" SITE "T4" ;
LOCATE COMP "SCLK[8]" SITE "L5" ;
LOCATE COMP "SCLK[9]" SITE "J1" ;
LOCATE COMP "SCLK[10]" SITE "J2" ;
LOCATE COMP "SCLK[11]" SITE "A3" ;
LOCATE COMP "SS_INCR[0]" SITE "B12" ;
LOCATE COMP "SS_INCR[1]" SITE "F12" ;
LOCATE COMP "SS_INCR[2]" SITE "F13" ;
LOCATE COMP "SS_INCR[3]" SITE "G13" ;
LOCATE COMP "SS_INCR[4]" SITE "H13" ;
LOCATE COMP "SS_INCR[5]" SITE "P12" ;
LOCATE COMP "SS_INCR[6]" SITE "T6" ;
LOCATE COMP "SS_INCR[7]" SITE "P4" ;
LOCATE COMP "SS_INCR[8]" SITE "M2" ;
LOCATE COMP "SS_INCR[9]" SITE "K4" ;
LOCATE COMP "SS_INCR[10]" SITE "H2" ;
LOCATE COMP "SS_INCR[11]" SITE "B4" ;
LOCATE COMP "LED[0]" SITE "L10" ;
LOCATE COMP "LED[1]" SITE "M14" ;
LOCATE COMP "LED[2]" SITE "L9" ;
LOCATE COMP "LED[3]" SITE "L12" ;
LOCATE COMP "SCLKIN" SITE "A7" ;
IOBUF PORT "MONTIMING_P[0]" DIFFRESISTOR=100 IO_TYPE=LVDS25 ;
IOBUF PORT "MONTIMING_P[1]" DIFFRESISTOR=100 IO_TYPE=LVDS25 ;
IOBUF PORT "MONTIMING_P[2]" DIFFRESISTOR=100 IO_TYPE=LVDS25 ;
IOBUF PORT "MONTIMING_P[3]" DIFFRESISTOR=100 IO_TYPE=LVDS25 ;
IOBUF PORT "MONTIMING_P[4]" DIFFRESISTOR=100 IO_TYPE=LVDS25 ;
IOBUF PORT "MONTIMING_P[5]" DIFFRESISTOR=100 IO_TYPE=LVDS25 ;
IOBUF PORT "MONTIMING_P[6]" DIFFRESISTOR=100 IO_TYPE=LVDS25 ;
IOBUF PORT "MONTIMING_P[7]" DIFFRESISTOR=100 IO_TYPE=LVDS25 ;
IOBUF PORT "MONTIMING_P[8]" DIFFRESISTOR=100 IO_TYPE=LVDS25 ;
LOCATE COMP "WR0[0]" SITE "E11" ;
LOCATE COMP "WR0[1]" SITE "D11" ;
LOCATE COMP "WR0[2]" SITE "C11" ;
LOCATE COMP "WR0[3]" SITE "B11" ;
LOCATE COMP "WR0[4]" SITE "A11" ;
LOCATE COMP "WR1[0]" SITE "C15" ;
LOCATE COMP "WR1[1]" SITE "D14" ;
LOCATE COMP "WR1[2]" SITE "B16" ;
LOCATE COMP "WR1[3]" SITE "A15" ;
LOCATE COMP "WR1[4]" SITE "B14" ;
LOCATE COMP "WR2[0]" SITE "F15" ;
LOCATE COMP "WR2[1]" SITE "F16" ;
LOCATE COMP "WR2[2]" SITE "E16" ;
LOCATE COMP "WR2[3]" SITE "E15" ;
LOCATE COMP "WR2[4]" SITE "E14" ;
LOCATE COMP "WR3[0]" SITE "K16" ;
LOCATE COMP "WR3[1]" SITE "J16" ;
LOCATE COMP "WR3[2]" SITE "J15" ;
LOCATE COMP "WR3[3]" SITE "J14" ;
LOCATE COMP "WR3[4]" SITE "H16" ;
LOCATE COMP "WR4[0]" SITE "P16" ;
LOCATE COMP "WR4[1]" SITE "N15" ;
LOCATE COMP "WR4[2]" SITE "N16" ;
LOCATE COMP "WR4[3]" SITE "N14" ;
LOCATE COMP "WR4[4]" SITE "M15" ;
LOCATE COMP "WR5[0]" SITE "J12" ;
LOCATE COMP "WR5[1]" SITE "J13" ;
LOCATE COMP "WR5[2]" SITE "K15" ;
LOCATE COMP "WR5[3]" SITE "K14" ;
LOCATE COMP "WR5[4]" SITE "L16" ;
LOCATE COMP "WR6[0]" SITE "R7" ;
LOCATE COMP "WR6[1]" SITE "P7" ;
LOCATE COMP "WR6[2]" SITE "T8" ;
LOCATE COMP "WR6[3]" SITE "R8" ;
LOCATE COMP "WR6[4]" SITE "P8" ;
LOCATE COMP "WR7[0]" SITE "T5" ;
LOCATE COMP "WR7[1]" SITE "L7" ;
LOCATE COMP "WR7[2]" SITE "N6" ;
LOCATE COMP "WR7[3]" SITE "T3" ;
LOCATE COMP "WR7[4]" SITE "P6" ;
LOCATE COMP "WR8[0]" SITE "M3" ;
LOCATE COMP "WR8[1]" SITE "N1" ;
LOCATE COMP "WR8[2]" SITE "N2" ;
LOCATE COMP "WR8[3]" SITE "N3" ;
LOCATE COMP "WR8[4]" SITE "P1" ;
LOCATE COMP "WR9[0]" SITE "K3" ;
LOCATE COMP "WR9[1]" SITE "K2" ;
LOCATE COMP "WR9[2]" SITE "K1" ;
LOCATE COMP "WR9[3]" SITE "L4" ;
LOCATE COMP "WR9[4]" SITE "L3" ;
LOCATE COMP "WR10[0]" SITE "F2" ;
LOCATE COMP "WR10[1]" SITE "F1" ;
LOCATE COMP "WR10[2]" SITE "G3" ;
LOCATE COMP "WR10[3]" SITE "G2" ;
LOCATE COMP "WR10[4]" SITE "G1" ;
LOCATE COMP "WR11[0]" SITE "B3" ;
LOCATE COMP "WR11[1]" SITE "B1" ;
LOCATE COMP "WR11[2]" SITE "C4" ;
LOCATE COMP "WR11[3]" SITE "C2" ;
LOCATE COMP "WR11[4]" SITE "C1" ;
LOCATE COMP "WRIN[0]" SITE "A9" ;
LOCATE COMP "WRIN[1]" SITE "C9" ;
LOCATE COMP "WRIN[2]" SITE "A8" ;
LOCATE COMP "WRIN[3]" SITE "C7" ;
LOCATE COMP "WRIN[4]" SITE "B7" ;
LOCATE COMP "WRIN[5]" SITE "F9" ;
LOCATE COMP "WRIN[6]" SITE "E9" ;
LOCATE COMP "WRIN[7]" SITE "D8" ;
LOCATE COMP "WRIN[8]" SITE "D9" ;
LOCATE COMP "WRIN[9]" SITE "C8" ;
